@model BancoArmarinho.Models.VendaModel

@{
    ViewData["Title"] = "Venda";
}
<br />
<h3 class="alert-success">@ViewData["Menssagem"]</h3>
<h2>Realizar Venda</h2>
<hr />
<form asp-action="create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Codigo" class="form-control" value="0" />
    </div>
    <div class="form-group">
        <input asp-for="Usuario" class="form-control" type="hidden" />
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Data" class="form-control" type="hidden" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-group row">

            <label class="control-label">Digite o documento (CNPJ ou CPF) e selecione o nome do Cliente.</label>
            <input name="Documento" id="Documento" type="text" class="form-control" />
            <input asp-for="Cliente" class="form-control" required="required" type="hidden" />
            <span asp-validation-for="Cliente" class="text-danger"></span>
            <label id="txtselecionado3" style="color:grey" type="hidden">  **SELECIONADO**</label>
        </div>

        <div class="form-group row">
            <div class="col-md-6">

                <div id="itens_pedido">
                    @Html.Partial("~/Views/Itensvendidos/itens_pedido.cshtml", null)
                </div>

            </div>
            <div class="col-md-2">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" readonly />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Desconto" class="control-label"></label>
                <input asp-for="Desconto" class="form-control" readonly />
                <span asp-validation-for="Desconto" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" readonly />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Finalizar" id="btnfinalizar" class="btn btn-success" />
        </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/lib/jquery/dist/jquery.maskMoney.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>

@section Scripts {

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            //if (parseInt($('#Codigo').val()) == 0) {
            $('#Valor').val(0)
            $('#Desconto').val(0)
            $('#Total').val(0)

            $('#txtselecionado3').addClass('hidden');
            $("#Documento").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Cliente/Buscar",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.nome,
                                    value: item.codigo
                                };
                                //return data;
                            }))

                        }

                    })
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    $("#Cliente").val(ui.item.value);
                    $("#Clientetxt").val(ui.item.value);

                    $("#txtselecionado3").removeClass('hidden');
                }
            });

            $("#btnfinalizar").on('click', function () {
                finalizar();
            });

            inicializarPartialView();
            //}
            //else {
            //    listarItens();
            //}
        });


        function finalizar() {
            $.ajax({
                type: "GET",
                url: "/Venda/finalizar?codigo=" + $('#Codigo').val(),
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: "json",
                success: function (jsonResult) {

                    if (jsonResult) {
                        alert("Dados salvos. Pedido Finalizado!");
                        $('#Codigo').val(0);
                        $("#tprodutos").empty();
                        $('#Cliente').val("");
                        $('#nomeProduto').val("");
                        $('#qtde').val("");
                        $('#Total').val("0");
                        $('#Valor').val("0");
                        $('#Desconto').val("0");
                        //$('#PgtCodigo').val("");
                    }
                    else {
                        alert("Erro ao salvar");

                    }



                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            })

        }


        function inicializarPartialView() {

            $('#txtselecionado4').addClass('hidden');
            $("#nomeProduto").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Produto/Buscar",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {

                            response($.map(data, function (item) {
                                return {
                                    label: item.nome,
                                    value: item.codigo
                                };
                            }))
                        }

                    })
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $(this).val(ui.item.label);
                    $("#codigoProduto").val(ui.item.value);

                    $('#txtselecionado4').removeClass('hidden');
                }
            });

            $("#btninserir").on("click", function () {

                $('#txtselecionado4').addClass('hidden');

                if ($('#Codigo').val() == "0") {
                    inserirPedido();
                }
                else
                    inserirPedidoItem();
            });

        }

        function inserirPedido() {
            var model = {
                codigo: 0,
                total: 0.00,
                data: null,
                cliente: $('#Cliente').val()
            };
            console.log(JSON.stringify(model));
            $.ajax({
                type: "POST",
                url: "/Venda/salvar",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                dataType: "json",
                success: function (jsonResult) {
                    console.log(jsonResult);
                    if (jsonResult != null) {

                        $('#Codigo').val(jsonResult.codigo);
                        inserirPedidoItem();
                    }
                    else {
                        alert("Erro ao salvar");

                    }
                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            })

        }


        function inserirPedidoItem() {
            var model = {
                vendaCodigo: parseInt($("#Codigo").val()),
                codigo: parseInt($('#Cliente').val()),
                produto: parseInt($("#codigoProduto").val()),
                produtoNavigation: null,
                quantidade: parseInt($('#qtde').val()),
                valor: 0.00,

            };
            console.log(JSON.stringify(model));
            $.ajax({
                type: "POST",
                url: "/Itensvendidos/salvar",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                dataType: "json",
                success: function (jsonResult) {
                    console.log(jsonResult);
                    if (jsonResult != null) {
                        $('#Valor').val(parseFloat($('#Valor').val()) + (parseFloat(jsonResult.produtoNavigation.preço) * parseFloat(jsonResult.quantidade)));
                        $('#Desconto').val(parseFloat(jsonResult.valor));
                        $('#Total').val(parseFloat($('#Valor').val()) - parseFloat($('#Desconto').val()));


                        //$('#Total').val( parseFloat( $('#Total').val() ) + jsonResult.valor) ;

                        itens_pedido();
                    }
                    else {
                        alert("Erro ao salvar2");
                    }

                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            })

        }

        function itens_pedido() {
            $.ajax({
                type: "GET",
                url: "/Itensvendidos/itens_pedido?prefix=" + $('#Codigo').val(),
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: "html",
                success: function (jsonResult) {
                    $("#itens_pedido").empty();
                    $("#itens_pedido").html(jsonResult);
                    $("#itens_pedido").show();
                    inicializarPartialView();
                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            })

        }

        function excluir(codigo) {
            $.ajax({
                type: "GET",
                url: "/ProdutosVenda/excluir?codigo=" + codigo,
                contentType: "application/json; charset=utf-8",
                data: {},
                dataType: "json",
                success: function (jsonResult) {

                    if (jsonResult != null) {
                        alert("Dados excluidos!");
                        parseFloat($('#Total').val(parseFloat($('#Total').val() - jsonResult.pvValor)));
                        itens_pedido();
                    }
                    else {
                        alert("Erro ao excluir");
                    }
                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            })

        }
    </script>
}